<h1>Login from</h1>

<p>{{error}}</p>
<a href="/register">Go to register</a>
<form action="/login" method="post">
    <input type="email" name="email" placeholder="email" value="{{old.email}}" />
    <input type="password" name="password" placeholder="password" />

    <button type="submit">Login</button>
</form>