<h1>Register from</h1>

<a href="/login">Go to login</a>
<form action="/register" method="post">
    <input type="email" name="email" />
    <input type="password" name="password" />

    <button type="submit">Register</button>
</form>